@import url("https://fonts.googleapis.com/css?family=Raleway:400,600,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/* layout */
.main_width {
  width: 1070px;
  margin: 0 auto;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 28px 0 65px 0;
}

/* header */
header {
  width: 100%;
  height: 40px;
  background-color: black;
}
.top_bar {
  color: white;
  display: flex;
  justify-content: space-between;
  line-height: 40px;
}
.top_bar h1 {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: uppercase;
}
.top_bar span {
  color: #3eb49c;
  font-weight: bold;
}
.menu {
  list-style: none;
  display: flex;
}
.menu_item {
  padding: 0 18px;
}
.item_link {
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

/* header - dropdown */
.menu_item.dropdown {
  position: relative;
}
.dropdown_content {
  position: absolute;
  background-color: black;
  width: 120px;
  padding-left: 15px;
  list-style: none;
  top: -150px;
  left: -2px;
  z-index: -1;
  transition: 0.3s;
}
.dropdown_content::before {
  position: absolute;
  content: " ";
  background-color: black;
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
  top: -7px;
  left: 46px;
}
.dropdown_content ul {
  list-style: none;
  height: 95px;
}
.dropdown_content ul li {
  height: 30%;
}
.menu_item.dropdown:hover .dropdown_content {
  top: 52px;
}

/* slider section */
.slider_section {
  /* background: rgb(199, 199, 210);
  background: linear-gradient(
    0deg,
    rgba(199, 199, 210, 1) 13%,
    rgba(255, 254, 254, 1) 40%
  ); */
  height: 505px;
  padding: 70px 50px;
}
.slider {
  display: flex;
  position: relative;
}
.slider_avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 420px;
  background-image: url(../images/black_chair.png);
  background-size: cover;
  background-position: 20%;
}
.column:first-child {
  width: 40%;
}
.column:last-child {
  width: 60%;
}
.slider_content {
  text-align: center;
  width: 74%;
  padding: 65px 0 0 67px;
}
.slider_content h2 {
  font-size: 39px;
  font-weight: normal;
  text-transform: uppercase;
}
.slider_content span {
  color: #3eb49c;
  font-weight: 600;
}
.slider_content p {
  line-height: 24px;
  padding: 28px 0;
}
.slider_content button {
  width: 270px;
  height: 50px;
  color: white;
  background-color: #3eb49c;
  font-size: 25px;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
}
.slider::before {
  content: "<";
  color: #3eb49c;
  font-size: 75px;
  position: absolute;
  top: 140px;
  left: 8px;
}
.slider::after {
  content: ">";
  color: #3eb49c;
  font-size: 75px;
  position: absolute;
  top: 140px;
  right: 8px;
}

/* chair types section */
.box {
  width: 31%;
  height: 225px;
}
.box:first-child {
  background-image: url(../images/box1_img.jpg);
}
.box:nth-child(2) {
  background-image: url(../images/box2_img.jpg);
}
.box:last-child {
  border: 1px solid rgb(212, 212, 212);
  height: 255px;
}
.box_content {
  padding-top: 145px;
}
.box:last-child .box_content {
  padding-top: 8px;
}
.box_content h3 {
  font-size: 16px;
  font-weight: 600;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}
.box_content .title_underline {
  width: 140px;
  height: 7px;
  background-color: #3eb49c;
}
.box_content p {
  font-size: 14px;
  line-height: 22px;
  padding: 0 20px;
}

/* price list section */
.price_section {
  background-color: #f1f1f1;
}
.box_header {
  padding: 42px 0 48px 0;
}
.box_header h2 {
  font-size: 23px;
  font-weight: normal;
  text-transform: uppercase;
  padding-bottom: 7px;
}
.box_header .title_underline {
  width: 322px;
  height: 7px;
  background-color: #3eb49c;
}
.box_price {
  width: 31%;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(212, 212, 212);
  background-color: white;
  color: #8b8b8b;
}
.box_price > * {
  padding: 28px 0;
}
.box_price h3 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  color: #3eb49c;
}
.price_circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid rgb(212, 212, 212);
  background-color: white;
  color: rgb(212, 212, 212);
  text-align: center;
}
.price_circle h4 {
  font-size: 45px;
  padding-left: 10px;
}
.price_circle sup {
  font-size: 15px;
}
.price_circle p {
  font-weight: bold;
}
.price_list ul {
  width: 327px;
  font-size: 24px;
  padding-top: 11px;
  list-style: none;
  text-align: center;
}
.price_list ul li {
  padding: 5px 0;
  background-color: #f1f1f1;
}
.price_list ul li:nth-child(odd) {
  background-color: #e4e4e4;
}
.box_price button {
  width: 125px;
  height: 36px;
  color: white;
  background-color: #3eb49c;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  position: absolute;
  bottom: 18px;
  left: 105px;
}
.box_price:nth-child(odd)::before {
  position: absolute;
  content: " ";
  border: 2px solid rgb(212, 212, 212);
  border-bottom-color: white;
  border-right-color: white;
  background-color: white;
  transform: rotate(45deg);
  width: 40px;
  height: 40px;
  top: -22px;
}

/* price list section - middle green box */
.box_price:nth-child(even)::before {
  position: absolute;
  content: " ";
  border: 2px solid #3eb49c;
  border-bottom-color: #3eb49c;
  border-right-color: #3eb49c;
  background-color: #3eb49c;
  transform: rotate(45deg);
  width: 40px;
  height: 40px;
  top: -22px;
}
.box_price:nth-child(even) {
  background-color: #3eb49c;
  border: 1px solid #3eb49c;
}
.box_price:nth-child(even) h3 {
  color: white;
}
.box_price:nth-child(even) .price_circle {
  border: 1px solid #3eb49c;
  color: #3eb49c;
}
.box_price:nth-child(even) button {
  background-color: white;
  color: #3eb49c;
  font-weight: 600;
}
.box_price:nth-child(even) .price_list li:nth-child(odd) {
  background-color: white;
}
