@import url("https://fonts.googleapis.com/css?family=Raleway:400,600,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/* layout */
.main_width {
  width: 1070px;
  margin: 0 auto;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 28px 0 65px 0;
}

/* header */
header {
  width: 100%;
  height: 40px;
  background-color: black;
}
.top_bar {
  color: white;
  display: flex;
  justify-content: space-between;
  line-height: 40px;
}
.top_bar h1 {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: uppercase;
}
.top_bar span {
  color: #3eb49c;
  font-weight: bold;
}
.menu {
  list-style: none;
  display: flex;
}
.menu_item {
  padding: 0 18px;
}
.menu_item a {
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

/* header - dropdown */
.menu_item.dropdown {
  position: relative;
}
.dropdown_content {
  position: absolute;
  background-color: black;
  width: 120px;
  padding-left: 15px;
  list-style: none;
  top: -150px;
  left: -2px;
  z-index: 1;
  transition: 0.3s;
}
.dropdown_content::before {
  position: absolute;
  content: " ";
  background-color: black;
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
  top: -7px;
  left: 46px;
}
.dropdown_content ul {
  list-style: none;
  height: 95px;
}
.dropdown_content ul li {
  height: 30%;
}
.menu_item.dropdown:hover .dropdown_content {
  top: 52px;
}

/* slider section */
.slider_section {
  height: 505px;
  padding: 70px 0;
  background: rgb(221, 220, 230);
  background: linear-gradient(
    0deg,
    rgba(221, 220, 230, 1) 0%,
    rgba(243, 242, 245, 1) 27%,
    rgba(246, 245, 248, 1) 36%,
    rgba(255, 254, 254, 1) 90%
  );
  position: relative;
}
.slider {
  display: flex;
}
.slider_avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 420px;
  background-image: url(../images/black_chair.png);
  background-size: cover;
  background-position: 20%;
}
.column:first-child {
  width: 40%;
}
.column:last-child {
  width: 60%;
}
.slider_content {
  text-align: center;
  width: 74%;
  padding: 65px 0 0 67px;
}
.slider_content h2 {
  font-size: 39px;
  font-weight: normal;
  text-transform: uppercase;
}
.slider_content span {
  color: #3eb49c;
  font-weight: 600;
}
.slider_content p {
  line-height: 24px;
  padding: 28px 0;
}
.slider_content button {
  width: 270px;
  height: 50px;
  color: white;
  background-color: #3eb49c;
  font-size: 25px;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
}
.left_arrow,
.right_arrow {
  color: #3eb49c;
  font-size: 75px;
  position: absolute;
  top: 212px;
}
.left_arrow {
  left: 113px;
}
.right_arrow {
  right: 133px;
}

/* chair types section */
.chair_section .box {
  width: 31%;
  height: 225px;
}
.chair_section .box:first-child {
  background-image: url(../images/box1_img.jpg);
}
.chair_section .box:nth-child(2) {
  background-image: url(../images/box2_img.jpg);
}
.chair_section .box:last-child {
  border: 1px solid rgb(212, 212, 212);
  height: 255px;
}
.chair_section .box_content {
  padding-top: 145px;
}
.chair_section .box:last-child .box_content {
  padding-top: 8px;
}
.chair_section .box_content h3 {
  font-size: 16px;
  font-weight: 600;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}
.chair_section .box_content .underline {
  width: 140px;
  height: 7px;
  background-color: #3eb49c;
}
.chair_section .box_content p {
  font-size: 14px;
  line-height: 22px;
  padding: 0 20px;
}

/* price list section */
.price_section {
  background-color: #f1f1f1;
}
.section_header {
  padding: 42px 0 48px 0;
}
.section_header h2 {
  font-size: 23px;
  font-weight: normal;
  text-transform: uppercase;
  padding-bottom: 7px;
}
.section_header .underline {
  width: 322px;
  height: 7px;
  background-color: #3eb49c;
}
.price_section .box {
  width: 31%;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(212, 212, 212);
  background-color: white;
  color: #8b8b8b;
}
.price_section .box > * {
  padding: 28px 0;
}
.price_section .box h3 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  color: #3eb49c;
}
.box_circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid rgb(212, 212, 212);
  background-color: white;
  color: rgb(212, 212, 212);
  text-align: center;
}
.box_circle h4 {
  font-size: 45px;
  padding-left: 10px;
}
.box_circle sup {
  font-size: 15px;
}
.box_circle p {
  font-weight: bold;
}
.box_list ul {
  width: 327px;
  font-size: 24px;
  padding-top: 11px;
  list-style: none;
  text-align: center;
}
.box_list ul li {
  padding: 5px 0;
  background-color: #f1f1f1;
}
.box_list ul li:nth-child(odd) {
  background-color: #e4e4e4;
}
.price_section .box button {
  width: 125px;
  height: 36px;
  color: white;
  background-color: #3eb49c;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  position: absolute;
  bottom: 18px;
  left: 105px;
}
.price_section .box:nth-child(odd)::before {
  position: absolute;
  content: " ";
  border: 2px solid rgb(212, 212, 212);
  border-bottom-color: white;
  border-right-color: white;
  background-color: white;
  transform: rotate(45deg);
  width: 40px;
  height: 40px;
  top: -22px;
}

/* price list section - middle green box */
.price_section .box:nth-child(even)::before {
  position: absolute;
  content: " ";
  border: 2px solid #3eb49c;
  border-bottom-color: #3eb49c;
  border-right-color: #3eb49c;
  background-color: #3eb49c;
  transform: rotate(45deg);
  width: 40px;
  height: 40px;
  top: -22px;
}
.price_section .box:nth-child(even) {
  background-color: #3eb49c;
  border: 1px solid #3eb49c;
}
.price_section .box:nth-child(even) h3 {
  color: white;
}
.price_section .box:nth-child(even) .box_circle {
  border: 1px solid #3eb49c;
  color: #3eb49c;
}
.price_section .box:nth-child(even) button {
  background-color: white;
  color: #3eb49c;
  font-weight: 600;
}
.price_section .box:nth-child(even) .box_list li:nth-child(odd) {
  background-color: white;
}

/* price list section - zoom button */
.price_section button:hover {
  transform: scale(1.1);
  transition: all ease 400ms;
}
.price_section button:focus {
  outline: none;
}

/* contact section */
.contact_section {
  padding-bottom: 50px;
}
.contact_form {
  display: flex;
}
.left_form form {
  width: 643px;
  display: flex;
  flex-direction: column;
}
.left_form form > * {
  padding: 10px;
  font-size: 35px;
  margin-bottom: 20px;
  border: 1px solid #a1e6d1;
}
.left_form form > *:focus {
  outline: none;
  box-shadow: 0 0 0 2px #3eb49c;
}
.left_form textarea {
  resize: none;
}
.left_form form *::placeholder,
.right_form .checkbox_content p {
  color: #cecece;
}
.right_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right_form .form_avatar {
  background-image: url(../images/red_chair.png);
  background-size: cover;
  background-position: center -22px;
  background-repeat: no-repeat;
  width: 240px;
  height: 210px;
}
.form_button {
  padding: 0;
  margin-left: 25px;
}
.form_button button {
  width: 350px;
  height: 70px;
  color: white;
  background-color: #3eb49c;
  font-size: 34px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
}

/* contact section - checkbox */
.checkbox {
  position: relative;
  padding: 10px 0 30px 60px;
}
.checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;
}
.checkbox label {
  display: block;
  padding-left: 65px;
  position: relative;
  font-size: 20px;
  color: #cecece;
  line-height: 120%;
  cursor: pointer;
}
.checkbox label::before,
.checkbox label::after {
  border: 1px solid #a1e6d1;
  content: "";
  display: block;
  left: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0;
}
.checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A")
    no-repeat center;
  border: 0;
  display: none;
}
.checkbox input:checked + label::after {
  display: block;
}

/* footer */
footer {
  width: 100%;
  height: 100px;
}
.bottom_bar {
  line-height: 100px;
  display: flex;
  justify-content: space-between;
}
.bottom_bar p {
  opacity: 0.4;
}
.social_media {
  display: flex;
  align-items: center;
}
.logo {
  background-position: center;
  background-size: cover;
  width: 35px;
  height: 35px;
}
.logo.flickr {
  background-image: url(../images/flickr.png);
}
.logo.vimeo {
  background-image: url(../images/vimeo.png);
}
.logo.pinterest {
  background-image: url(../images/pinterest.png);
}
.logo.twitter {
  background-image: url(../images/twitter.png);
}
.bottom_bar p:first-child {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
.bottom_bar p:last-child {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
.bottom_bar p:last-child span {
  font-weight: bold;
}

/* main buttons hover */
.button_active:hover {
  background-color: white;
  color: #3eb49c;
  border: 2px solid #3eb49c;
  font-weight: 600;
  transition: 0.4s;
}
.button_active:focus {
  outline: none;
}
